@media only screen and (min-width: 1000px) {
   .container{
       background-color: #009688;
   }
   .stats{
    width: 100%;
    
    background-size: cover;
}
html{
  scroll-behavior: smooth;
}
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1A1A1D;

}

  }


  body {
    
    margin: 0;
    padding: 0;
    background-color: #1A1A1D;
    width: fit-content;
    overflow-x: hidden;
  }

.container {

  overflow: hidden;
  background-color: #25274D;
  padding: 20px 15px; /* Large padding which will shrink on scroll (using JS) */
  transition: 0.4s; /* Adds a transition effect when the padding is decreased */
  position: fixed; /* Sticky/fixed navbar */
  width: 100%;
 height: 0;
  top: 0; /* At the top */
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}

.container .logo {
    font-size: 30px;
    position: fixed;
    
    font-weight: bold;
    transition: 0.4s;
 
}
.logo a{
  text-decoration: none;
  color: #AAABB8;
}
#mobile{
    visibility: hidden;
}





.navbar {

    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
   padding: 0px 10px;
     
     
}

.container .navbar ul {
     display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0; 
}

.container .navbar ul li a {
  color: #2E9CCA;
     text-align: center;
    padding: 12px;
    padding-left: 60px;
    padding-right: 60px;
    position: relative;
    bottom: 15px;
    left: 50px;
    margin: 0 auto;
    text-decoration: none;
    font-size: 30px;
    /* float: left; */
    /* color: #009688;
     text-align: center;
    padding: 12px;
    padding-left: 40px;
    padding-right: 40px;
    text-decoration: none;
    font-size: 20px;
   
    border-radius: 4px;
    /* position: fixed;
    bottom: 25px; */
    /* width: 80%;
    margin: 0 auto;
    padding-top: 0px;
    margin-left: 140px; 
    margin-bottom: 0px;
   
    display: flex; 
    flex-direction: column; 
    font-size: 140%; */ 
}
.navbar .navbar ul li a.active {
    background-color: dodgerblue;
    color: white;
  }
.container .navbar ul li a:hover {
    color: #ffffff;
    background-color: #464866;
}

.container .navbar ul .close {
    display: none;
    text-align: left;
    padding: 10px;
}
.navbar-right {
    float: right;
  }
.text-inside {
visibility: hidden;
}
.container .navbar ul .close span {
    font-size: 40px;
    display: inline-block;
    border: 1px solid #AAABB8;
    padding: 0 10px;
    cursor: pointer;
}

.container .navbar .icon-bar {
    
    width: 10px;
    height: 10px;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    cursor: pointer;
}

.container .navbar .icon-bar i {
    background-color: #ffffff;
    height: 2px;
}
h3{
    padding-left: 10px;
}



#about{
  height: 1px;
  padding-top: 0%;
  
}
#prevention{
 height: 1px;
 padding-top: 0%;
 
}
#diagnose{
 height: 1px;
 padding-top: 0%;
 
}
#treatment{
 height: 1px;
 padding-top: 0%;
 
}
#symptoms{
 height: 1px;
 padding-top: 0%;
 
}

.heading{
 font-family: 'Ultra', serif;
 margin: 1em 0 0.5em 0;
color: #2E9CCA;
font-weight: normal;


font-size: 80px;
line-height: 42px;
text-transform: uppercase;
text-shadow: 0 2px white, 0 3px #777;
 text-align: center;
}

.header{
  opacity: 0;
 transform: translateY(5em) rotateZ(2deg);
 transition: transform 4s .25s cubic-bezier(0,1,.3,1);
}
.header.is-visible{
  opacity: 1;
  transform: rotateZ(0deg);
}
.content p{
 font-family: 'Noto Sans JP', sans-serif;
 font-size: 25px;
 color: #AAABB8;
 display: flex;
 
justify-content: center;
padding: 2%;

}

.inline-photo1 {
 
 border: 2px solid #fff;
 
 border-radius: .25em;
 box-shadow: 1em 1em 2em .25em rgba(0,0,0,.2);
 
 
 opacity: 0;
 transform: translateY(20em) rotateZ(-5deg);
 transition: transform 4s .25s cubic-bezier(0,1,.3,1),
             opacity .3s .25s ease-out;
             display: block;
             margin-left: auto;
             margin-right: auto;
             width: 50%;
 will-change: transform, opacity;

}

.inline-photo1.is-visible {
 opacity: 1;
 transform: rotateZ(0deg);

}
.content h3{
 font-family: 'Padauk', sans-serif;
 font-size: 35px;
 color: #2E9CCA;
padding-bottom: 0;

}
.content ul {
  display: list-item;
  font-family: 'Padauk', sans-serif;
  font-size: 25px;
  color: #AAABB8;
  padding-right: 10px;
  list-style-type: circle;
  margin-left: 1re;
}

.readmore a{
  text-decoration: none;
  color: #2E9CCA;
  text-align: center;
}
.content .readmore{
font-family: 'Noto Sans JP', sans-serif;
width: 300px;
color: #fff !important;
text-transform: uppercase;
text-decoration: none;
background: #1A1A1D;
padding: 20px;
margin-bottom: 20px;

display: inline-block;
border: none;
align-items: center;
font-size: 30px;
width: 100%;
transition: all 1s;
}
.readmore:hover{
  background-color: #29648A;
  border-radius: 40% ;
  font-size: 40px;
}
.symptoms-link a{
  text-decoration: none;
  color: #2E9CCA;
  text-align: center;
}
.symptoms-link{
  font-family: 'Noto Sans JP', sans-serif;
  width: 300px;
 color: #fff !important;
text-transform: uppercase;
text-decoration: none;
background: #1A1A1D;
padding: 20px;
 margin-bottom: 20px;

display: inline-block;
border: none;

text-align: center;
width: 100%;
font-size: 30px;
transition: all 1s;

}
.symptoms-link:hover{
  background-color: #29648A;
  border-radius: 40% ;
}


.vaccine a{
  text-decoration: none;
  color: #009688;
  text-align: center;
}


.vaccine {
  font-family: 'Noto Sans JP', sans-serif;
  width: 300px;
 
text-transform: uppercase;
text-decoration: none;
background: #1A1A1D;


display: inline-block;
border-top: 1px solid white;
border-radius: 20px;

text-align: center;
width: 100%;
font-size: 90px;

transition: all 1s ease-out;
}

.vaccine:hover {
  color: #2E9CCA;
  background-color: #29648A;
  
  
}


footer{
 background-color: #25274D;
 height: 100px;
}

.symptoms-link iframe{
  width:80%;
   height:400px;
   transition: all 1s;
}
.symptoms-link iframe:hover{
  width:100%;
  height:1100px;
}

/* main{
    max-width: 2000px;
    
    margin: 0 auto;
    
}
.body {
    max-width: 700px;
    margin: 0 auto;
    padding: 10px;
    
}

.inline-photo {
    border: 1em solid #fff;
    border-bottom: 4em solid #fff;
    border-radius: .25em;
    box-shadow: 1em 1em 2em .25em rgba(0,0,0,.2);
    margin: 2em auto;
    opacity: 0;
    transform: translateY(4em) rotateZ(-5deg);
    transition: transform 4s .25s cubic-bezier(0,1,.3,1),
                opacity .3s .25s ease-out;
    max-width: 600px;
    width: 90%;
    will-change: transform, opacity;
  }
  
  .inline-photo.is-visible {
    opacity: 1;
    transform: rotateZ(-2deg);
  }
  
  header {
    opacity: 0;
    transition: opacity .5s .25s ease-out;
  }
  
  header.is-visible {
    opacity: 1;
  }
  
  .main-photo {
    transform: scale(.8);
  }
  
  
  
  .is-visible .main-photo {
    transform: none;
  }
  
 
  
  .main-photo,
  .heading {
    transition: transform 4s .25s cubic-bezier(0,1,.3,1),
                filter 10s 2s ease-out;
    will-change: transform;
  }



section{
    background-image: url(../Image/pexels-yaroslav-danylchenko-4113084\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
    
    border-radius: 20%;
}


.vaccine {
    background-color: #06d6a0;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
    margin-left: 10px;
    margin-top: 10px;
  }
  
  .vaccine :hover {
    background-color: #555;
  }
  
  .vaccine :active {
    background-color: black;
  }
  
  .vaccine :visited {
    background-color: #ccc;
  }
  footer{
    background-color: #009688;
    height: 100px;
  } */