/*Mobile*/

@media (max-width: 500px) {
    html{
        scroll-behavior: smooth;
    }
    .body {
       /* Hide vertical scrollbar */
        overflow-x: hidden;
        scrollbar-width: none;
        background-color: #1A1A1D;
        width: 90%;
    }
    body::-webkit-scrollbar {
        display: none; /* for Chrome, Safari, and Opera */
      }
    .container {
        overflow: hidden;
        background-color: black;
        padding: 5px; /* Large padding which will shrink on scroll (using JS) */
        transition: 0.4s; /* Adds a transition effect when the padding is decreased */
        position: fixed; /* Sticky/fixed navbar */
        width: 100%;
       height: 0;
        top: 0; /* At the top */
        z-index: 99;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        overflow: hidden;
        
      }
    
      .container .logo a{
       
  visibility:hidden;
      }
   
    
     
    
      .container .navbar ul {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        position: fixed;
        left: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        background: #ffffff;
        opacity: 0.9;
        width: 50%;
        height: 100%;
        overflow: auto;
        -webkit-transition: left .3s;
        -o-transition: left .3s;
        transition: left .3s;
      }
    
      .container .navbar ul li a {
        padding: 20px;
        font-size: 16px;
        height: auto;
        line-height: 40px;
        color: #555555;
      }
    
      .container .navbar ul .close {
        display: block;
        
      }
      .container .navbar ul .close span {
        font-size: 30px;
        display: inline-block;
        
        padding: 0 10px;
        cursor: pointer;
       position: relative;
       top: 350px;
       left: 60px;
      }
    
      .container .navbar .icon-bar {
          z-index: 99;
       position:fixed;
       
       bottom: 30px;
      right: 5px;
       height: 10px;
       width: 20px;
      margin-right: 10px;
       
      
      }
    
      .container .navbar ._Menus-show {
        left: 50%;
      }
    
  
    
     
    
   
    

    
 
    
      
      .container .navbar .icon-bar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
      }
    
      

    
    .stats{
        width: 100%;
        background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)) ,url('../Image/pexels-khairi-harry-4007642.jpg');
        background-size: cover;
    }



  
    /* -------- LATEST REPORT -------- */
    .latest-report{
        display: flex; 
  flex-direction: column; 
 width: 80%;
    margin: 0 auto;
    padding-top: 50px;

    color: #FFF;
  
    
      
    }
    
 
    .country h1{
        display: flex;
        margin: 0 auto;
        position: relative;
        right: 50px;
        overflow: hidden;
        bottom:0px;
    }
    .name{
        display: flex;
        margin: 0 auto;
        position: relative;
        right: 50px;
        overflow: hidden;
        font-size: 30px;
        color: #AAABB8;
        font-weight: bold;
    }
    
    
    
    .title{
        display: flex;
        margin: 0 auto;
        position: relative;
        right: 70px;
        overflow: hidden;
        font-size: 1.3em;
        position: relative;
        right: 70px;
        overflow: hidden;
    }
    .total-cases .value{
        position: relative;
        font-size: 2em;
        font-weight: bold;
    }
    .recovered .value{
        font-size: 2em;
        font-weight: bold;
        color: #009688;
    }
    .deaths .value{
        font-size: 2em;
        font-weight: bold;
        color: #f44336;
    }
    .new-value{
        font-size: 1.3em;
    }
    /* -------- CHART -------- */
    .chart{
        width: 80%;
        height: 70vh;
        min-height: 500px;
    
        margin: 0 auto;
        padding: 50px 0;
    }
 /* section about */

 #about{
     height: 1px;
     padding-top: 0%;
     
 }
 #prevention{
    height: 1px;
    padding-top: 0%;
    
 }
 #diagnose{
    height: 1px;
    padding-top: 0%;
    
 }
 #treatment{
    height: 1px;
    padding-top: 0%;
    
 }
 #symptoms{
    height: 1px;
    padding-top: 0%;
    
 }
  
 .heading{
    font-family: 'Ultra', serif;
    margin: 1em 0 0.5em 0;
	color: #2E9CCA;
	font-weight: normal;

  font-size: 30px;
	line-height: 42px;
	text-transform: uppercase;
	text-shadow: 0 2px white, 0 3px #777;
    text-align: center;
 }
 .content p{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
    color: #AAABB8;
    display: flex;
  justify-content: center;
 }

 .inline-photo1 {
     align-items: center;
    border: 2px solid #fff;
    
    border-radius: .25em;
    box-shadow: 1em 1em 2em .25em rgba(0,0,0,.2);
    margin: 2em auto;
    margin-left: 10px;
    opacity: 0;
    transform: translateY(9em) rotateZ(-5deg);
    transition: transform 4s .25s cubic-bezier(0,1,.3,1),
                opacity .3s .25s ease-out;
    max-width: 600px;
    width: 90%;
    will-change: transform, opacity;
  }
  
  .inline-photo1.is-visible {
    opacity: 1;
    transform: rotateZ(0deg);
  }
  .About ul{
    font-family: 'Padauk', sans-serif;
    font-size: 20px;
    color: #AAABB8;
    list-style-type: circle;
  }
  .content h3{
    font-family: 'Padauk', sans-serif;
    font-size: 25px;
    color: #2E9CCA;
   
 }
 .content ul{
  display: list-item;
  font-family: 'Padauk', sans-serif;
  font-size: 15px;
  color: #AAABB8;
  padding-right: 10px;
  list-style-type: circle;
  margin-left: 1re;
  
 }
 .readmore a{
  text-decoration: none;
  color: #2E9CCA;
  text-align: left;
  font-size: large;
}
 

 
 .vaccine a{
  text-decoration: none;
  color: whitesmoke;
 }
 .vaccine {
  background-color: #06d6a0;
  color: white;
 
  text-decoration: none;
  text-transform: uppercase;
  font-size: 30px;
  padding: auto;
 
  width: 100%;
  
}
footer{
  background-color: #25274D;
  height: 1px;
 }




.symptoms-link{ 
  width:8%;
  height:1px;
  visibility: hidden;
  display: none;
}

  }



   





